<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/_default_head') %>
        <title>CR - Edit</title>
    </head>
<body>
    <%- include('../partials/_main_navigation') %>
    <div id="header-small">
        <div id="header-image"></div>
    </div>
    <div id="spacer-small">
    </div>
    <div class="container">
        <h1 class="mb-4">Edit Article</h1>
        <form action="/articles/<%= article.id %>?_method=PUT" method="post">
            <%- include('../partials/_form_fields') %>
        </form>
    </div>
    <%- include('../partials/_end_scripts') %>
    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/js/tinymce.js"></script>
</body>
</html>