<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
        <title>
            <%= article.title %>
        </title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
        <div class="spacer-small">
        </div>
        <div class="container-md mt-4 d-flex align-items-center justify-content-center flex-column">
            <% if (admin) { %>
                <div class="card d-flex flex-row col-6">
                    <a href="/articles/edit/<%= article.id %>" class="btn btn-secondary mx-2 my-2 w-50">Edit</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger mx-2 my-2 w-50" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this post?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center">
                                    <h1 class="text-center">There is no turning back!</h1>           
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="/articles/<%= article.id %>?_method=DELETE" method="post">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="card pt-2" style="width: 80%;">
                        <div class="card-header d-flex justify-content-around">
                            <h3>
                                <%= article.title %>
                            </h3>
                            <h3 class="text-secondary">
                                <%= article.timeSince %>
                            </h3>
                        </div>
                        <div class="card-body">
                            <%- article.markdown %>
                        </div>
                        <div class="card-footer">
                            <% if (article.githublink) { %>
                                <a href="<%= article.githublink %>" class="btn btn-primary mx-2 my-2">See on Github</a>
                            <% } %>
                            <% if (article.githubdownload) { %>
                                <a href="<%= article.githubdownload %>" class="btn btn-secondary mx-2 my-2">Download</a>
                            <% } %>
                        </div>
                    </div>

        </div>
        <%- include('../partials/_end_scripts') %>
</body>

</html>