<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <title>
        <%= article.title %>
    </title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
    <div id="header-small">
        <div id="header-image">
        </div>
    </div>
    <div id="spacer-small">
    </div>
    <div class="container-md mt-4">
        <div class="row">
            <div class="col-12 col-md-3 px-0 px-md-2">
                <div class="card px-2 py-2">
                    <img src="<%= article.previewImageURL %>" class="card-img-top" alt="<%= article.title %>">
                    <h1 class="card-title">
                        <%= article.title %>
                    </h1>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <a href="/blog" class="btn btn-primary mx-2 my-2">All Articles</a>
                    <!-- Only for admin -->
                    <% if (admin) { %>
                        <a href="/articles/edit/<%= article.id %>" class="btn btn-secondary mx-2 my-2">Edit</a>
                        <form class="d-inline mx-2 my-2" action="/articles/<%= article.id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger w-100" type="submit">Delete</button>
                        </form>
                    <% } %>
                    <!-- End only for admin -->

                </div>
            </div>
            <div class="col-12 col-md-9 px-0 px-md-2">
                <div class="card px-2 py-2">
                    <div class="card-text" id="article-text">
                        <%- article.markdown %>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <%- include('../partials/_end_scripts') %>
</body>

</html>