<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
        <title>
            <%= article.title %>
        </title>
</head>

<body>
    <%- include('../partials/_main_navigation') %>
        <div class="spacer-small">
        </div>
        <div class="container-md mt-4 d-flex align-items-center justify-content-center flex-column">
            <% if (admin) { %>
                <div class="card d-flex flex-row col-6">
                    <a href="/articles/edit/<%= article.id %>" class="btn btn-secondary mx-2 my-2 w-50">Edit</a>
                    <form class="mx-2 my-2 w-50" action="/articles/<%= article.id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger w-100" type="submit">Delete</button>
                    </form>
                </div>
                <% } %>
                    <div class="card pt-2" style="width: 80%;">
                        <div class="card-header d-flex justify-content-around">
                            <h3>
                                <%= article.title %>
                            </h3>
                            <h3 class="text-secondary">
                                <%= article.timeSince %>
                            </h3>
                        </div>
                        <div class="card-body">
                            <%- article.markdown %> 
                        </div>
                    </div>

        </div>
        <%- include('../partials/_end_scripts') %>
</body>

</html>