<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
        <link rel="stylesheet" href="../css/smile.css" />
        <title>CR - Home</title>
</head>

<body>
    <%- include('../partials/_loader') %>
        <%- include('../partials/_main_navigation') %>

            <div class="container-fluid d-flex flex-column justify-content-between align-items-center" id="landing">
                <div class="d-flex flex-row align-items-center flex-grow-1">
                    <div class="text-center">
                        <span id="welcome-text"></span>
                        <div id="smile" class="hidden">
                            <div class="face">
                                <div class="eyes">
                                    <div class="eye"></div>
                                    <div class="eye"></div>
                                </div>
                            </div>
                        </div>
                        <span class="blink" id="cursor">|</span>
                    </div>
                </div>
                <div>
                    <a href="#brief-description" class="mt-auto mb-5 no-link d-flex flex-column align-items-center"
                        id="learn-more">
                        <p>Learn more about what I do</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                            class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="container-fluid flex-column d-flex align-items-center justify-content-between"
                id="brief-description">
                <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                    <div class="col-6">
                        <div id="brief-text">
                            <h1 class="blur-bg">Hi there! <span class="wave">👋</span> I am a software developer with a
                                passion for
                                technology.</h1>
                            <h1 class="my-5 blur-bg">I built this website to show the world what I can do.</h1>
                            <h1 class="blur-bg">Feel free to explore my <a href="/blog">blog</a>, take a look at my <a
                                    href="/blog">projects</a>, learn more <a href="/blog">about</a> who I am, and much
                                more!
                            </h1>
                        </div>
                    </div>
                </div>
                <a href="#recent-work" class="bounce mt-auto mb-5 no-link d-flex flex-column align-items-center"
                    id="learn-more">
                    <p>See my most recent work</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                    </svg>
                </a>
            </div>
            <div class="container d-flex align-items-center justify-content-center" id="recent-work">
                <div class="col-3 mx-2" id="recent-blog">
                            <a href="articles/<%= articles[0].slug %>" class="article-link">
                                <div class="card article-card">
                                    <img src="<%= articles[0].previewImageURL %> " class="card-img-top"
                                        alt="Image for <%= articles[0].title %>" height="250">
                                    <div class="card-title">
                                        <h4 class="text-center">
                                            <%= articles[0].title %>
                                        </h4>
                                        <div class="card-text text-muted mb-2 px-2">
                                            <%= articles[0].createdAt.toLocaleDateString() %>
                                        </div>
                                        <div class="card-subtitle px-2">
                                            <%= articles[0].description %>
                                        </div>
                                    </div>
                                </div>
                            </a>
                </div>
                <div class="col-3 mx-2" id="recent-project">
                    <div class="card">
                        <img src="https://via.placeholder.com/250" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">My most recent project</h5>
                            <p class="card-text">This is the most recent project that I am working on.</p>
                            <a href="#" class="btn btn-primary">See on Github</a>
                            <a href="#" class="btn btn-secondary">Other projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 mx-2" id="recent-log">
                    <div class="card">
                        <img src="https://via.placeholder.com/250" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/_end_scripts') %>
                <script src="../js/swipe.js"></script>
                <script src="../js/smile.js"></script>
</body>

</html>