<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
        <link rel="stylesheet" href="../css/smile.css" />
        <link rel="stylesheet" href="../css/home.css" />
        <title>CR - Home</title>
</head>

<body>

    <%- include('../partials/_loader') %>
        <%- include('../partials/_main_navigation') %>
            <!-- Landing Section -->
            <div class="container-fluid d-flex flex-column justify-content-between align-items-center"
                id="landing">
                <div class="d-flex flex-row align-items-center flex-grow-1">
                    <div class="text-center">
                        <span id="welcome-text"></span>
                        <div id="smile" class="hidden">
                            <div class="face">
                                <div class="eyes">
                                    <div class="eye"></div>
                                    <div class="eye"></div>
                                </div>
                            </div>
                        </div>
                        <span class="blink" id="cursor">|</span>
                    </div>
                </div>
                <div>
                    <a href="#brief-description" class="mt-auto mb-5 no-link d-flex flex-column align-items-center"
                        id="learn-more">
                        <p>Learn more about what I do</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                            class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- Brief Description Section -->
            <div class="container-fluid flex-column d-flex align-items-center justify-content-between"
                id="brief-description">
                <div class="flex-grow-1 d-flex justify-content-center align-items-center pt-5">
                        <div id="brief-text">
                            <h3 class="blur-bg">Hi there! <span class="wave">👋</span> I am a software developer with a
                                passion for
                                technology.</h3>
                            <h3 class="my-5 blur-bg">I built this website to show the world what I can do.</h3>
                            <h3 class="blur-bg">Feel free to explore my <a href="/blog">blog</a>, take a look at my <a
                                    href="/projects">projects</a>, learn more <a href="/blog">about</a> who I am, and much
                                more!
                            </h3>
                        </div>
                </div>
                <a href="#recent-work" class="bounce mt-auto mb-5 no-link d-flex flex-column align-items-center"
                    id="learn-more">
                    <p>See my most recent work</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                    </svg>
                </a>
            </div>
            <!-- Recent Work Section-->
            <div class="container-fluid px-0 pb-5 d-flex justify-content-between align-items-center flex-column " id="recent-work">
                <div class="container-fluid mt-5 d-flex justify-content-center align-items-center px-0 px-md-5">
                    <div class="d-flex flex-wrap flex-row" id="cards-container">
                        <!-- First Card - Recent Blog -->
                        <div class="card-container">
                            <div class="card text-center">
                                <div class="card-header">
                                    Newest Blog Post
                                </div>
                                <div class="card-body d-flex justify-content-between flex-column">
                                    <img src="<%= blogpost.previewImageURL %>" class="card-img-top" alt="...">
                                    <h5 class="card-title"><%= blogpost.title %></h5>
                                    <p class="card-text"><%= blogpost.description %></p>
                                    <div class="btn-container">
                                        <a href="articles/<%= blogpost.slug %>" class="btn btn-primary">Read Post</a>
                                        <a href="/blog" class="btn btn-secondary">Blog Posts</a>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    Updated <%=blogpost.timeSince%>
                                </div>
                            </div>
                        </div>
                        <!-- Second Card Recent Dev Log -->
                        <div class="card-container">
                            <div class="card text-center">
                                <div class="card-header">
                                    Newest Dev Log
                                </div>
                                <div class="card-body d-flex justify-content-between flex-column">
                                    <img src="<%= devlog.previewImageURL %>" class="card-img-top" alt="...">
                                    <h5 class="card-title"><%= devlog.title %></h5>
                                    <p class="card-text"><%= devlog.description %></p>
                                    <div class="btn-container">
                                        <a href="articles/<%= devlog.slug %>" class="btn btn-primary">Read Post</a>
                                        <a href="/devlogs" class="btn btn-secondary">Dev Logs</a>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    Updated <%=devlog.timeSince%>
                                </div>
                            </div>
                        </div>
                        <!-- Third Card Recent Project -->
                        <div class="card-container">
                            <div class="card text-center">
                                <div class="card-header">
                                    Newest Project
                                </div>
                                <div class="card-body d-flex justify-content-between flex-column">
                                    <img src="<%= project.previewImageURL %>" class="card-img-top" alt="...">
                                    <h5 class="card-title"><%= project.title %></h5>
                                    <p class="card-text"><%= project.description %></p>
                                    <div class="btn-container">
                                        <a href="articles/<%= project.slug %>" class="btn btn-primary">Read</a>
                                        <a href="/projects" class="btn btn-secondary">Projects</a>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    Updated <%= project.timeSince %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#contact" class="bounce mt-5 no-link d-flex flex-column align-items-center"
                    id="learn-more">
                    <p>Contact me!</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                    </svg>
                </a>
            </div>
            <!-- Contact Section -->
            <div class="line"></div>
            <div class="container-fluid px-0 d-flex flex-column align-items-center justify-content-center"
                id="contact">
                <div class="card text-center mt-5 py-0 px-0">
                    <div class="card-body">
                        <img alt="profile image" class="rounded-circle" src="../img/face.jpg" width="200" height="200"
                            style="border: 1px solid black;">
                    </div>
                    <div class="card-body py-0 px-5">
                        <h3 class="card-title mb-5">Charles Russell</h3>
                        <p class="card-text">Calgary, Alberta</p>
                        <p class="card-text">Phone: <a href="tel:+2047705065">(204) 770-5065</a></p>
                        <p class="card-text">Email: <a href="mailto:chjrussell@gmail.com">chjrussell@gmail.com</a></p> 
                        <p class="card-text">LinkedIn: <a href="https://www.linkedin.com/in/charles-russell-671306244/">charles-russell-671306244</a></p>
                        <p class="card-text">GitHub: <a href="https://github.com/cjrussell23">cjrussell23</a></p>
                        <p class="card-text"><a href="/resume">Resume</a></p>
                    </div>
                    <div class="card-footer text-muted py-2 px-0 mt-5">
                        <div class="d-flex flex-row justify-content-evenly w-100">
                            <a href="tel:+2047705065">
                                <i class="bi bi-telephone"></i>
                                <span>Call</span>
                            </a>
                            <a href="mailto:chjrussell@gmail.com">
                                <i class="bi bi-envelope"></i>
                                <span>Email</span>
                            </a>
                        </div>
                    </div>
                </div>
                <%- include('../partials/_end_scripts') %>
                    <script src="../js/swipe.js"></script>
                    <script src="../js/smile.js"></script>
</body>

</html>