<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_default_head') %>
    <link rel="stylesheet" href="/css/posts.css">
    <title id="page-title"></title>
</head>

<body>
    <%- include('../partials/_loader') %>
    <%- include('../partials/_main_navigation') %>
    <!-- End Navigation Bar -->
    <div id="header-small">
        <div id="header-image">
        </div>
    </div>
    <div class="spacer-small">
    </div>
    <!-- Determine which tab is active on load - posts.js then uses openTab function to open the correct tab -->
    <% if (active == 'blogposts') { %>
        <div class="hidden" id="active">blogposts</div>
    <% } %>
    <% if (active == 'devlogs') { %>
        <div class="hidden" id="active">devlogs</div>
    <% } %>
    <% if (active == 'projects') { %>
        <div class="hidden" id="active">projects</div>
    <% } %>
    <!-- Main Content -->
    <div class="container-fluid px-0" id="main-content-container">
        <!-- Nav -->
        <ul class="d-flex justify-content-center nav nav-tabs blog-nav">
            <li class="nav-item">
            <a class="nav-link" id="blogpostsbtn" onclick="openTab('blogposts')">Blog Posts</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="devlogsbtn" onclick="openTab('devlogs')">Dev Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="projectsbtn" onclick="openTab('projects')">Projects</a>
            </li>
        </ul>
        <!-- Blog Posts -->
        <div class="container-md d-flex flex-wrap px-0" id="blogposts">    
            <% blogposts.forEach(blogpost=> { %>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 article-column px-0 px-md-2 py-md-2">
                    <a href="articles/<%= blogpost.slug %>" class="article-link">
                        <div class="card article-card">
                            <img src="<%= blogpost.previewImageURL %>" class="card-img-top"
                                alt="Image for <%= blogpost.title %>" height="250">
                            <div class="card-title">
                                <h4 class="text-center">
                                    <%= blogpost.title %>
                                </h4>
                                <div class="card-text text-muted mb-2 px-2">
                                    <%= blogpost.timeSince %>
                                </div>
                                <div class="card-subtitle px-2">
                                    <%= blogpost.description %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>
        <!-- Projects -->
        <div class="container-md d-flex flex-wrap px-0" id="projects">
            <% projects.forEach(project=> { %>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 article-column px-0 px-md-2 py-md-2">
                    <a href="articles/<%= project.slug %>" class="article-link">
                        <div class="card article-card">
                            <img src="<%= project.previewImageURL %>" class="card-img-top"
                                alt="Image for <%= project.title %>" height="250">
                            <div class="card-title">
                                <h4 class="text-center">
                                    <%= project.title %>
                                </h4>
                                <div class="card-text text-muted mb-2 px-2">
                                    <%= project.timeSince %>
                                </div>
                                <div class="card-subtitle px-2">
                                    <%= project.description %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>
    </div>
    <!-- Dev Logs -->
    <div class="container-md d-flex flex-wrap px-0" id="devlogs">
        <% devlogs.forEach(devlog=> { %>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 article-column px-0 px-md-2 py-md-2">
                <a href="articles/<%= devlog.slug %>" class="article-link">
                    <div class="card article-card">
                        <img src="<%= devlog.previewImageURL %>" class="card-img-top"
                            alt="Image for <%= devlog.title %>" height="250">
                        <div class="card-title">
                            <h4 class="text-center">
                                <%= devlog.title %>
                            </h4>
                            <div class="card-text text-muted mb-2 px-2">
                                <%= devlog.timeSince %>
                            </div>
                            <div class="card-subtitle px-2">
                                <%= devlog.description %>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% }) %>
    </div>
</div>
    <%- include('../partials/_end_scripts') %>
    <script src="../js/swipe.js"></script>
    <script src="../js/posts.js"></script>
</body>

</html>